{% extends "base.html" %}

{% block titulo %} inicio {% endblock %}

{% block Contenido %} 

<div class="p-5 bg-light">
    <div class="container">
        <h1 class="display-3">¡Bienvenido a nuestro supermercado donde encontraras productos de tu agrado!</h1>
        <p class="lead">Empezar</p>
        <hr class="my-2">
        
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Empezar</a>
        </p>
    </div>
</div>

{% endblock %}
